<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <title>已登記招募資料</title>
</head>

<body>
    <style>
        div.card {
            margin: 1rem;
        }

        p {
            margin-bottom: 0.25rem;
        }
    </style>
    <div class="container">
        <br>
        <div class="text-center">
            <h1>已登記招募資料</h1>
        </div>
        {% for i in data %}
        <div class="card">
            <h5 class="card-header">{{i.companyName}}</h5>
            <div class="card-body">
                <h5 class="card-title">聯絡人：{{i.name}}</h5>
                <p class="card-text">提供薪資：{{i.minSalary}}~{{i.maxSalary}}</p>
                <p class="card-text">公司地址：{{i.address}}</p>
                <p class="card-text">聯絡電話：{{i.Phone}}</p>
                <div class="row" style="margin-bottom: 0.5rem;">
                    <div class="col-5">
                        <p class="card-text">提供助理：{{i.assistant}}</p>
                    </div>
                    <div class="col-6">
                        <p class="card-text">提供加班費：{{i.overtime_pay}}</p>
                    </div>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <a href="https://w1.linebot.com.tw/updateCompany/{{i.lineId}}/{{i.id}}/"
                        class="btn btn-primary">修改</a>
                    <button type="submit" class="btn btn-danger" id="dataID" name="del" value="{{i.id}}"
                        onclick="test(this.value,this.id)">刪除</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        function test(value, id) {
            console.log(value);
            var question = confirm('是否刪除該筆資料?');
            if (question) {
                alert('已刪除!')
            } else {
                document.getElementById(id).value = 'NO'
                alert('已取消!')
            }


        }
    </script>
</body>

</html>