<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <title>修改資料</title>
</head>
<body>
    <div class="container">
        <br>
        <div class="text-center">
            <h1>修改資料</h1>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">姓名</label>
                <input class="form-control" type="text" id="name" name="name" value="{{userName}}">
            </div>
            <div class="row g-3">
                <div class="col">
                    <label for="salary" class="form-label">類別</label>
                    <select class="form-select" id="select" name="select">
                        <option value="日薪">日薪</option>
                        <option value="月薪">月薪</option>
                        <option value="時薪">時薪</option>
                    </select>
                </div>
                <div class="col">
                    <label for="salary" class="form-label">期望薪資</label>
                    <input class="form-control" type="text" id="salary" value="{{userSalary}}" name="salary">
                    <input type="hidden" name="" id="salary1" value="{{userSalary1}}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="mb-3">
                    <label for="address" class="form-label">期望工作地點</label>
                    <input class="form-control" type="text" id="address" value="{{userAddress}}" name="address">
                </div>
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">聯絡電話</label>
                <input class="form-control" type="text" id="phone" value="{{userPhone}}" name="phone">
            </div>

            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit" onclick="window.close()">送出</button>
            </div>
        </form>
        <a href="javascript:window.opener=null;window.open('','_self');window.close();">關閉</a>

    </div>
</body>
<script>
    // Using a Promise object
    let option = document.querySelectorAll('option')
    let salary = document.getElementById('salary').value
    let salary1 = document.getElementById('salary1').value
    option.forEach(e => {
        if (e.text == salary1.substr(0, 2)) {
            e.selected = true
        }
    });

    // liff
    //     .init({
    //         liffId: "1656626380-aee0ogjy", // Use own liffId
    //     })

    //     .then((profile) => {
    //         liff.getProfile();
    //         const userId = profile.userId;
    //     })
</script>
<script>
    // function push() {
    //     let name = document.getElementById('name').value
    //     let salary = document.getElementById('salary').value
    //     let address = document.getElementById('address').value
    //     let phone = document.getElementById('phone').value
    //     let select = document.getElementById('select').value

    //     var msg = "@確認修改資料";  //回傳訊息字串
    //     msg = msg + name + "&";
    //     msg = msg + select + salary + "&";
    //     msg = msg + address + "&";
    //     msg = msg + phone;
    //     console.log(msg);

    //     // liff.sendMessages([  //推播訊息
    //     //     {
    //     //         type: 'text',
    //     //         text: msg
    //     //     }
    //     // ])
    //     //     .then(() => {
    //     //         liff.closeWindow();  //關閉視窗
    //     //     })
    // }

</script>

</html>